body {
    background-image: url(../img/bg.jpg);
    font-family: 'Ubuntu', sans-serif;
    font-size: 11pt;
}



a {
    color: inherit;
    border-bottom: 1px dotted #444;
    text-decoration: none;
    transition: color 0.2s ease-out;
    cursor: pointer;
}

.outer a:hover {
    color: #888;
    border-bottom: 1px solid #777;
    transition: color 0.2s ease-in,
                border-bottom-color 0.4s ease-in;
}
.inner a:hover {
    color: inherit;
    border-bottom: 1px dotted #444;
    transition: none;
}



.center {
    display: block;
    margin: auto;
}



.outer {
    width: 100%;
    text-align: center;
}

.outer footer {
    color: #555;
}



.inner {
    width: 700px;
    background-color: #999;
    padding: 10px;
    border: 2px solid #222;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 2px 2px 10px 0px #222;
}

.inner h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 30pt;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #888;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #222;
    text-decoration: italic;
}

.inner textarea {
    background-color: #888;
    border: 1px solid #444;
    width: 94%;
    min-width: 94%;
    max-width: 94%;
}



#screen {
    background-color: black;
    border: 2px solid #888;
    box-shadow: 2px 2px 20px #111;

    width: 256px;
    height: 256px;

    margin: 0;
    padding: 0;

    display: inline-block;
}



.side {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    width: 200px;
    display: inline-block;
    border: 1px solid pink;
}

.side.left {
    float: left;
    text-align: left;
    font-size: 10pt;

    height: 259px;
    max-height: 259px;
    overflow: auto;

    margin-right: 5px;
}

.side.right {
    float: right;
    text-align: left;

    height: 259px;
    max-height: 259px;
}



#wrapper {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: visible;

    text-align: left;
    white-space: nowrap;
}

#wrapper:after {
    content: "";
    display: block;
    clear: both;
}



#bar {
    background-color: #777;
    width: 200px;
    height: 20px;

    margin-top: -4px;
    padding: 5px;

    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#bar small {
    color: #333;
}


#sharebutton {
    border-bottom: none;
    float: right;
    margin-top: 1px;
    color: rgb(155, 222, 0);
}

#sharebutton:hover {
    opacity: 0.8;
}


#playbutton {
    margin-bottom: -2px;
    margin-top: 0px;

    cursor: pointer;
    float: left;

    opacity: 1;
    transition: opacity 0.2s ease-in;
}

#playbutton:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
}


#backbutton {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    float: left;

    opacity: 1;
    transition: opacity 0.2s ease-in;
}

#backbutton:hover {
    opacity: 0.8;
}



.checkbox {
    position: relative;
    top: 2px;
}



.slider {
    width: 40px;
    max-width: 40px;
    display: inline-block;
}